<div id="{{ include.name }}" class="carousel slide" data-ride="carousel">
 
    <ol class="carousel-indicators">
     {% for picture in pagedata.sponsors %}
     {% if forloop.first == true %}
       <li data-target=”#{{ include.name }}” data-slide-to=”0" class=”active”></li>
     {% else %}
       <li data-target=”#{{ include.name }}” data-slide-to=”{{ forloop.index0 }}”></li>
     {% endif %}
     {% endfor %}
     </ol>  <div class=”carousel-inner” role=”listbox”>
      {% for picture in pagedata.sponsors %}
        {% if forloop.first == true %}
          <div class=”item active”>
            {% if picture.name %}
              <a href="{{ sponsor.link }}">
              <img src=”{{ picture.image }}” alt=”{{ picture.name }}”>
              </a>
            {% else %}
              <a href="{{ sponsor.link }}">
               <img src=”{{ picture.image }}”>
              </a>
            {% endif %}
            {% if picture.caption %}
              <div class=”carousel-caption”>
                {{ picture.caption }}
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class=”item”>
            {% if sponsor.name %}
              <img src=”{{ picture.image }}” alt=”{{ picture.name }}”>
            {% else %}
              <img src=”{{ picture.image }}”>
            {% endif %}
            {% if picture.caption %}
              <div class=”carousel-caption”>
                {{ picture.caption }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
   </div>
   <a class=”left carousel-control” href=”#{{ include.name }}” role=”button” data-slide=”prev”>
   <span class=”glyphicon glyphicon-chevron-left” aria-hidden=”true”></span>
   <span class=”sr-only”>Previous</span>
   </a>
   <a class=”right carousel-control” href=”#{{ include.name }}” role=”button” data-slide=”next”>
   <span class=”glyphicon glyphicon-chevron-right” aria-hidden=”true”></span>
   <span class=”sr-only”>Next</span>
   </a>
  </div>