<div class="break"></div>
<div class="summit-banner">
    <ul class="list--horizontal">
      <a href="https://sqlbits.com/attend/?utm_source=sqlsaturday&utm_medium=display" target="_blank" rel="noopener noreferrer">
        <li>
          <img class="pass-logo-secondary-nav" src="./assets/img/logos/SQLBit2024.png" alt="SQL Bits logo" width="180" height="55">
        </li>
        <li class="text--bold">SQL Bits&nbsp;-&nbsp;<p></p> </li><li class="hide-on-small">Atttend and learn | 19-23 March</li>
      </a>
    </ul>
</div>