@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

.summit-banner {
    line-height: 100px;
    font-size: 16px;
    background-color: #EAEAEA;
    border-top: 1px solid #DDDDDD;
    text-decoration: none;
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, Sans-serif !important;
    width: 100%;
    height: 100px;
}

.summit-banner a {
    text-decoration: none;
    color: #373737;
}

.summit-banner a:hover {
    text-decoration: none;
    color: #373737;
}

.summit-banner .text--bold {
    font-weight: bold;
}

.find-out-more {
    color: #183559;
    margin-left:10px;
}

img.pass-logo-secondary-nav {
    width: 800px;
    margin-right: 10px;
    margin-left:20px
}

.find-out-more img {
    width: 18px;
    height: 18px;
    margin: 0px 10px 0px 5px;
}

.list--horizontal {
  margin-left: 0px;
  list-style: none;
  padding-left: 0px;
}

.list--horizontal li {
  display: inline-block;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* Add flex-wrap to the navbar so banner can be forced onto new row */
.navbar {
    flex-wrap: wrap;
}

.navbar-custom {
    padding-bottom: 0px!important;
}

@media (max-width: 1200px) {
    .intro-header {
        margin-top: 110px!important;
    }
}

@media (max-width: 700px) {
    .hide-on-small {
        display: none!important;
    }

    .img.pass-logo-secondary-nav {
        margin-left: 0px;
    }

    .find-out-more {
        display: none;
    }
}